annotated-types
anyio
asgiref
certifi
cffi
charset-normalizer
crispy-bootstrap5
cryptography
distro
Django
django-crispy-forms
et_xmlfile
gunicorn
h11
httpcore
httpx
idna
jiter
lxml
mysqlclient
numpy
openai
openpyxl
packaging
pandas
pillow
psycopg2-binary
pycparser
pydantic
pydantic_core
PyMySQL
PyPDF2
python-dateutil
python-decouple
python-docx
python-dotenv
pytz
requests
setuptools
six
sniffio
sqlparse
tqdm
typing-inspection
typing_extensions
tzdata
urllib3
wheel
whitenoise
