asgiref
certifi
cffi
charset-normalizer
crispy-bootstrap5
cryptography
Django
django-crispy-forms
et_xmlfile
gunicorn
idna
lxml
mysqlclient
numpy
openpyxl
packaging
pandas
pillow
psycopg2-binary
pycparser
PyMySQL
PyPDF2
python-dateutil
python-decouple
python-docx
python-dotenv
pytz
requests
setuptools
six
sqlparse
typing_extensions
tzdata
urllib3
wheel
whitenoise
