asgiref
crispy-bootstrap5
Django
django-crispy-forms
lxml
pillow
psycopg2-binary
PyPDF2
python-decouple
python-docx
setuptools
sqlparse
wheel
whitenoise
PyMySQL
cryptography
python-dotenv
pandas
openpyxl
requests
gunicorn